.sg-wrap sg-squares {
  border-top: 1px solid black;
  border-left: 1px solid black;
  background-image: url('../../board/bird.jpg');
}

.sg-wrap sg-squares sq {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

/* dots on grid */
.sg-wrap sg-squares sq:nth-child(31)::after,
.sg-wrap sg-squares sq:nth-child(34)::after,
.sg-wrap sg-squares sq:nth-child(58)::after,
.sg-wrap sg-squares sq:nth-child(61)::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  margin: -4px;
  width: 7px;
  height: 7px;
  background-color: black;
}

sg-squares sq.orange {
  background-color: rgba(185, 129, 25, 0.5);
}
