/* 
  Alternatively instead of grid we can use flex
*/

.sg-wrap sg-squares {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid black;
  border-left: 1px solid black;
  background-image: url('../../board/bird.jpg');
}

.sg-wrap sg-squares sq {
  flex: 0 1 calc(100% / 9);
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
