body {
  background-color: #1d1d1d;
  color: #b0b0b0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 11px;
  margin-top: 2rem;
}

.main {
  display: flex;
}

nav {
  min-width: 150px;
  display: flex;
  flex-direction: column;
}

nav a {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #b0b0b0;
}
