body {
  background-color: #1d1d1d;
  color: #b0b0b0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 11px;
  margin-top: 2rem;
}

.main {
  display: flex;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.main-board {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

nav {
  min-width: 150px;
  display: flex;
  flex-direction: column;
}

nav a {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #b0b0b0;
}

@media (max-width: 680px) {
  .main {
    flex-direction: column;
  }
  .main-board {
    width: 100%;
    padding-bottom: 100%;
  }
  .sg-wrap {
    padding-bottom: calc(100% / 11 * 12);
  }
}
