.sg-wrap {
  height: 100%;
}

sg-hand sg-hp-wrap {
  position: relative;
}

sg-hand sg-hp-wrap::after {
  content: attr(data-nb);
  top: 0;
  right: 0;
  position: absolute;
  line-height: 0.9em;
  padding: 3px 0.3em;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  background-color: #2e2e2e;
  border: 1px solid #eee;
  border-radius: 3px;
}
.hand-bottom sg-hand sg-hp-wrap::after {
  top: unset;
  bottom: 0;
}
sg-hp-wrap[data-nb='0']:not(.drawing) {
  opacity: 0.3;
}
sg-hp-wrap[data-nb='0']:not(.selected):not(.drawing)::after {
  content: none;
}

.main-board {
  align-self: center;
}

.sg-hand-wrap {
  position: relative;
  width: 200px;
  height: 200px;
  background-image: url('../board/new_board.png');
  background-size: cover;
  margin: 0 1rem;
  border: 1px solid black;
}
.sg-hand-wrap sg-hand {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.hand-bottom {
  align-self: flex-end;
}
sg-hand.promotion::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0000003f;
}

sg-hand piece {
  display: block;
  position: relative;
  width: calc(500px / 9);
  height: calc(500px / 9);
  margin: unset;
  cursor: pointer;
  pointer-events: auto;
  border: 2px solid transparent;
  background-repeat: no-repeat;
}

sg-hand sg-hp-wrap.selected {
  opacity: 1;
  background-color: rgba(20, 85, 30, 0.5);
}

sg-hand sg-hp-wrap.preselected {
  opacity: 1;
  background-color: rgba(20, 30, 85, 0.5);
}

sg-hand sg-hp-wrap.current-pre {
  background-color: rgba(20, 30, 85, 0.5);
}

sg-hand sg-hp-wrap.drawing:before {
  content: '';
  position: absolute;
  width: 12%;
  height: calc(12% / 11 * 12);
  background-color: black;
  border-radius: 50%;
  opacity: 0.7 !important;
}
