/*
   * Shogiground base css properties.
   *
   * You need to include the css files in themes folder in order to have the
   * board and pieces displayed!
   */

.sg-wrap {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  /* Correct shogi board ratio is 11:12, for square board, you can use height 100% */
  height: calc(100% / 11 * 12);
}

sg-board {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
}

sg-board piece {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.5);
  width: calc(200% / 9);
  height: calc(200% / 9);
  margin: calc(-50% / 9 / 11 * 12) calc(-50% / 9);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;
  pointer-events: none;
  will-change: auto;
}

sg-squares,
sg-pieces,
sg-promotion {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

sg-pieces {
  cursor: pointer;
}

sg-promotion {
  z-index: 5;
  background-color: #0000003f;
}
sg-promotion.active {
  display: block;
  pointer-events: auto;
}

sg-promotion sg-promotion-square {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% / 9);
  height: calc(100% / 9);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

sg-promotion sg-promotion-choices {
  display: flex;
  flex-direction: column;
  background-color: #2e2e2e;
  box-shadow: 3px 3px 7px #000000aa;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  height: 200%;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

sg-promotion sg-promotion-choices.reversed {
  margin: calc(-100% / 11 * 12) 0;
  flex-direction: column-reverse;
}

sg-promotion sg-promotion-choices piece {
  display: block;
  position: relative;
  transform: scale(1);
  width: 100%;
  height: 50%;
  margin: 0;
  pointer-events: auto;
  border-radius: 10px;
  transition: all 200ms;
  background-color: #2e2e2e;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

sg-promotion sg-promotion-choices piece:hover {
  border-radius: 0px;
}

sg-squares {
  display: grid;
  grid-template: repeat(9, 1fr) / repeat(9, 1fr);
  background-size: cover;
  pointer-events: none;
}
sg-squares sq.dest {
  background: radial-gradient(
    rgba(20, 85, 30, 0.5) 22%,
    #208530 0,
    rgba(0, 0, 0, 0.3) 0,
    rgba(0, 0, 0, 0) 0
  );
}
sg-squares sq.pre-dest {
  background: radial-gradient(
    rgba(20, 30, 85, 0.5) 22%,
    #203085 0,
    rgba(0, 0, 0, 0.3) 0,
    rgba(0, 0, 0, 0) 0
  );
}
sg-squares sq.oc.dest {
  background: radial-gradient(transparent 0%, transparent 80%, rgba(20, 85, 0, 0.3) 80%);
}
sg-squares sq.oc.pre-dest {
  background: radial-gradient(transparent 0%, transparent 80%, rgba(20, 30, 85, 0.2) 80%);
}
sg-squares sq.last-dest.oc.dest {
  background: radial-gradient(
    rgba(155, 199, 0, 0.41) 0%,
    rgba(155, 199, 0, 0.41) 80%,
    rgba(20, 85, 0, 0.3) 80%
  );
}
sg-squares sq.last-dest.oc.pre-dest {
  background: radial-gradient(
    rgba(155, 199, 0, 0.41) 0%,
    rgba(155, 199, 0, 0.41) 80%,
    rgba(20, 30, 85, 0.2) 80%
  );
}
sg-squares sq.dest.hover,
sg-squares sq.last-dest.oc.dest.hover {
  background: rgba(20, 85, 30, 0.3);
}
sg-squares sq.pre-dest.hover,
sg-squares sq.last-dest.oc.pre-dest.hover {
  background: rgba(20, 30, 85, 0.2);
}
sg-squares sq.last-dest {
  background-color: rgba(155, 199, 0, 0.41);
}
sg-squares sq.check {
  background: radial-gradient(
    ellipse at center,
    rgba(255, 0, 0, 1) 0%,
    rgba(231, 0, 0, 1) 25%,
    rgba(169, 0, 0, 0) 89%,
    rgba(158, 0, 0, 0) 100%
  );
}
sg-squares sq.selected {
  background-color: rgba(20, 85, 30, 0.5);
}
sg-squares sq.preselected {
  background-color: rgba(20, 30, 85, 0.5);
}
sg-squares sq.current-pre {
  background-color: rgba(20, 30, 85, 0.5);
}
sg-pieces piece.anim {
  z-index: 4;
}
sg-pieces piece.fading {
  z-index: 2;
  opacity: 0.5;
}
sg-pieces piece.ghost {
  opacity: 0.3;
}
piece.dragging {
  /* will-change: transform; */
  z-index: 10;
}
piece.dragging.touch {
  top: -50px;
}

sg-square-over {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% / 9);
  height: calc(100% / 9);
  background: #00000050;
  border-radius: 50%;
  padding: 6%;
  margin: calc(-6%);
  will-change: transform;
  pointer-events: none;
  z-index: 3;
}

.sg-wrap sg-free-pieces,
.sg-wrap .sg-shapes,
.sg-wrap .sg-custom-svgs {
  overflow: visible;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 4;
}

.sg-wrap sg-free-pieces {
  z-index: 3;
}

.sg-wrap sg-free-pieces piece {
  opacity: 0.6;
}

.sg-wrap .sg-custom-svgs {
  z-index: 9;
}

.sg-wrap .sg-custom-svgs svg {
  overflow: visible;
}

.sg-wrap coords {
  position: absolute;
  display: flex;
  pointer-events: none;
  opacity: 0.8;
  font-size: 9px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
.sg-wrap coords.ranks {
  right: -15px;
  top: 0;
  flex-flow: column-reverse;
  height: 100%;
  width: 12px;
  text-transform: uppercase;
}
.sg-wrap coords.ranks.gote {
  flex-flow: column;
}
.sg-wrap coords.files {
  top: -12px;
  left: 0;
  flex-flow: row;
  width: 100%;
  height: 12px;
  text-align: center;
}
.sg-wrap coords.files.gote {
  flex-flow: row-reverse;
}
.sg-wrap coords coord {
  flex: 1 1 auto;
}
.sg-wrap coords.ranks coord {
  transform: translateY(39%);
}

.sg-wrap .sg-shapes > g > g {
  opacity: 0.7;
}

.sg-wrap .sg-shapes ellipse {
  fill: none;
}
.sg-wrap .sg-shapes g.description ellipse {
  fill: #15781b;
}
.sg-wrap .sg-shapes g.description text {
  fill: white;
  font-size: 60%;
}
.sg-wrap .sg-shapes g.current line {
  opacity: 0.9;
}
.sg-wrap .sg-shapes g.outside line {
  opacity: 0.4;
}

.sg-wrap .sg-shapes g.primary ellipse {
  stroke: #15781b;
}
.sg-wrap .sg-shapes g.primary line {
  stroke: #15781b;
}
.sg-wrap .sg-shapes marker#arrowhead-primary path {
  fill: #15781b;
}

.sg-wrap .sg-shapes g.alternative0 ellipse {
  stroke: #882020;
}
.sg-wrap .sg-shapes g.alternative0 line {
  stroke: #882020;
}
.sg-wrap .sg-shapes marker#arrowhead-alternative0 path {
  fill: #882020;
}

.sg-wrap .sg-shapes g.alternative1 ellipse {
  stroke: #003088;
}
.sg-wrap .sg-shapes g.alternative1 line {
  stroke: #003088;
}
.sg-wrap .sg-shapes marker#arrowhead-alternative1 path {
  fill: #003088;
}

.sg-wrap .sg-shapes g.alternative2 ellipse {
  stroke: #e68f00;
}
.sg-wrap .sg-shapes g.alternative2 line {
  stroke: #e68f00;
}
.sg-wrap .sg-shapes marker#arrowhead-alternative2 path {
  fill: #e68f00;
}
